<!DOCTYPE html>

<html>

<head>
    <title>Beer Up - Search</title>
    <meta charset="UTF-8">
    <link href="../css/mylist.css" rel="stylesheet">
</head>

<body onload="detect()">

    <div>
        <h1>Beer Up</h1><br/>
        <div class="body-content">
            <div id="menu-container" class="menu-buttons">
            </div>
            <br/>
            <div id="reviews-container">
            </div>
        </div>
    </div>
    <br/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/mylist.js"></script>
</body>

<footer>
    Read more at <a href="https://github.com/tandoni/csse280Project" target="_blank">Github Page</a>
</footer>

</html>