<!DOCTYPE html>
<html lang="en">

<head>
    <title>Beer Up - Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/login.css" rel="stylesheet">
</head>

<body onload="detect()">
    <h1>Beer Up</h1>

    <div id="menu-container" class="menu-buttons">
    </div>

    <section class="loginform">
        <!-- <img src="../images/craft-beer.jpg" alt="beer" /> -->
        <div id="login-block2">
            <ul>
                <li><label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="FirstName" placeholder="First Name" required></li>
                <li><label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="LastName" placeholder="Last Name" required></li>
                <li><label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="username" required></li>
                <li><label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="password" required></li>
                <li>
                    <button class="button" id="signUp" style="display: inline-block">
            <a class = "nounderline"><span >REGISTER</span></a>
        </button></li>
            </ul>
        </div>
    </section>

    <footer>
        Read more at <a href="https://github.com/tandoni/csse280Project" target="_blank">Github Page</a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/register.js"></script>
</body>

</html>