<!DOCTYPE html>

<html>

<head>
    <title>Beer Up - Search</title>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
</head>

<body onload="detect()">

    <div>
        <h1>Beer Up</h1>
        <div class="body-content">
            <div id="menu-container" class="menu-buttons">
            </div>
            <br/>

            <!-- Trigger/Open The Modal -->
            <button id="myBtn" class="button">Add Beer</button>

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">x</span>
                    <form>
                        <span class="addRev">Beer Name: </span>
                        <input type="text" id="beer"><br /> <span class="addRev">Description: </span>
                        <input type="text" id="description"><br /><span class="addRev">Image URL: </span>
                        <input type="text" id="imgURL"><br />
                        <button class="button" id="addbeer">Add</button>
                    </form>
                </div>

            </div>

            <div id="reviews-container"></div>
        </div>
    </div>
    <br/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/search.js"></script>
</body>

<footer>
    Read more at <a href="https://github.com/tandoni/csse280Project" target="_blank">Github Page</a>
</footer>

</html>