<!DOCTYPE html>

<html>

<head>
    <title>Beer Up - Search</title>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
</head>

<body>

    <div>
        <h1>Beer Up</h1>
        <div class="body-content">
            <div class="menu-buttons">
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="../index.html">
                        <span >MAIN</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="./mylist.html">
                        <span >MY LIST</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="./review.html">
                        <span >REVIEW</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="./login.html">
                        <span>LOGIN</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="./register.html">
                        <span>REGISTER</span>
                    </a>
                </button>
                <input type="text" id="search">
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="./search.html">
                        <span >SEARCH</span>
                    </a>
                </button>
            </div>
            <br/>

            <!-- Trigger/Open The Modal -->
            <button id="myBtn" class="button">Add Beer</button>

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">x</span>
                    <form>
                        Beer Name:
                        <input type="text" name="beer"><br /> Description:
                        <input type="text" name="description"><br /> image URL:
                        <input type="text" name="imgURL"><br />
                        <button class="button">Add</button>
                    </form>
                </div>

            </div>

            <div id="reviews-container"></div>
        </div>
    </div>
    <br/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/search.js"></script>
</body>

<footer>
    Read more at <a href="https://github.com/tandoni/csse280Project" target="_blank">Github Page</a>
</footer>

</html>