html {
    /*background-color: black;*/
    min-width: 2000px;
    background-image: url('../images/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    zoom: 60%;
}

.welcome {
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 215, 0, 0.4);
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.beer-pic-block {
    display: inline-block;
}

.beer-name {
    font-size: 50px;
}

.beer-intro {
    font-size: 40px;
}

.beer-info {
    color: black;
    display: inline-block;
    margin-left: 70px;
    font-size: 40px;
}

.beer-token {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.beer-token {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    font-style: italic;
}

div.beer-token:hover {
    background-color: #ededed;
}

span.quote-author-name {
    text-align: right;
    font-weight: bold;
    display: block;
}

input {
    width: 250px;
    height: 65px;
    margin-bottom: 10px;
    font-size: 28px;
}

h1 {
    font-size: 80pt;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: white;
    vertical-align: center;
}

.body-content {
    margin-left: 100px;
}

.main-image-block {
    display: inline-block;
}

.round-button {
    display: inline-block;
    width: 1.5%;
}

.round-button-circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    border: 2px solid lightyellow;
    overflow: hidden;
    background: goldenrod;
    box-shadow: 0 0 2px darkgoldenrod;
}

.round-button-circle:hover {
    background: gold;
}

.round-button a {
    display: block;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: lightgoldenrodyellow;
    font-family: Verdana;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.button {
    margin: 2px;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
}

.button span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    color: white;
}

.nounderline {
    text-decoration: none;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.text-introduction-with-picture {
    padding-left: 50px;
    max-width: 1000px;
    min-height: 1400px;
    margin: 50px;
    background-color: rgba(255, 215, 0, 0.4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.text-introduction-picture {
    margin-left: 50px;
    /*display: inline-block;*/
}

.text-introduction-text {
    margin-bottom: 100px;
    width: 850px;
    /*display: inline-block;*/
}

#mainpage_switch_img {
    width: 1200px;
    height: 675px;
}

#mainpage_switch_img2 {
    width: 700px;
    height: 400px;
}

h2 {
    font-size: 75px;
}

#introduction_img {
    vertical-align: text-top;
}


/*modal css*/


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    color: black;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#menus-container button {
    display: inline-block;
}