.form-style {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 40px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.welcome {
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 215, 0, 0.4);
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.form-style fieldset {
    border: none;
}

.form-style legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.form-style label {
    display: block;
    margin-bottom: 8px;
}

.form-style input[type="text"],
.form-style textarea,
.form-style select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

.form-style input[type="text"]:focus,
.form-style textarea:focus,
.form-style select:focus {
    background: #d2d9dd;
}

.form-style select {
    -webkit-appearance: menulist-button;
    height: 35px;
}

.form-style .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.form-style button:hover {
    background: #109177;
}


/* old */

html {
    width: 100%;
    background-image: url('../images/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    zoom: 60%;
}

#loggedInUser {
    float: right;
    margin-right: 40px;
}

div.author-quote {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    font-style: italic;
}

div.author-quote:hover {
    background-color: #ededed;
}

span.quote-author-name {
    text-align: right;
    font-weight: bold;
    display: block;
}

input {
    width: 250px;
    height: 65px;
    margin-bottom: 10px;
    font-size: 28px;
}

h1 {
    font-size: 80pt;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    vertical-align: center;
}

.body-content {
    margin-left: 100px;
}

.main-image-block {
    display: inline-block;
}

.button {
    margin: 2px;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
}

.deleteButton, .updateButton {
    margin: 2px;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    /*font-size: 28px;*/
    padding: 20px;
    /*width: 250px;*/
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
}

.button span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    color: white;
}

.nounderline {
    text-decoration: none;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.text-introduction-with-picture {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.text-introduction-picture {
    margin-left: 50px;
    display: inline-block;
}

.text-introduction-text {
    margin-bottom: 100px;
    width: 850px;
    display: inline-block;
}

h2 {
    font-size: 75px;
}

#introduction_img {
    vertical-align: text-top;
}

.beer-pic-block {
    display: inline-block;
}

.beer-name {
    font-size: 40px;
}

.beer-intro {
    font-size: 25px;
    display: inline-block;
    margin-top: 10px;
}

.beer-intro-user {
    font-size: 35px;
    float: right;
    margin-right: 50px;
    display: inline-block;
    margin-top: 10px;
}

.beer-info {
    display: inline-block;
}

.review-button-block {
    margin-top: 20px;
}

.my-review-token {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.my-review-token {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    font-style: italic;
}

div.my-review-token:hover {
    background-color: #ededed;
}