<!DOCTYPE html>
<html lang="en">

<head>
    <title>Beer Up - Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/login.css" rel="stylesheet">
</head>

<body>
    <h1>Beer Up</h1>

    <div class="nav-container">
        <nav>
            Beer | Login | About
        </nav>
    </div>

    <section class="loginform">
        <img src="../images/craft-beer.jpg" alt="beer" />
        <form name="login">
            <ul>
                <li><label for="username">Username</label>
                    <input type="text" name="username" placeholder="username" required></li>
                <li><label for="password">Password</label>
                    <input type="password" name="password" placeholder="password" required></li>
                <li>
                    <input type="submit" value="Sign Up"></li>
                <li>
                    <input type="submit" value="Login"></li>
            </ul>
        </form>
    </section>
    <br>
    <br>
    <br>
    <footer>
        Read more at <a href="https://github.com/tandoni/csse280Project" target="_blank">Github Page</a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/successQuotes.js"></script>
</body>

</html>