<!DOCTYPE html>

<html>

<head>
    <title>Beer Up - Search</title>
    <meta charset="UTF-8">
    <link href="../css/mylist.css" rel="stylesheet">
</head>

<body>

    <div>
        <h1>Beer Up</h1><br/>
        <div class="body-content">
            <div class="menu-buttons">
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="../index.html">
                        <span >RECOMMEND</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="./review.html">
                        <span >REVIEW</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="./login.html">
                        <span>LOGIN</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="./register.html">
                        <span>REGISTER</span>
                    </a>
                </button>
                <input type="text" name="search">
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="./search.html">
                        <span >SEARCH</span>
                    </a>
                </button>
            </div>
            <br/>
            <div id="reviews-container">
            </div>
        </div>
    </div>
    <br/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/mylist.js"></script>
</body>

<footer>
    Read more at <a href="https://github.com/tandoni/csse280Project" target="_blank">Github Page</a>
</footer>

</html>