<!DOCTYPE html>

<html>

<head>
    <title>change picture</title>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
</head>

<body>

    <div>
        <h>Beer Up</h><br/>
        <div class="body-content">
            <div class="menu-buttons">
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >RECOMMEND</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >REVIEW</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >REGISTER</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >LOGIN</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >SEARCH</span>
                    </a>
                </button>
                <input type="text" name="search">
            </div>
            <br/>
            <div class="text-introduction-with-picture">
                <h2>Here is a subTitle</h2>
                <p>
                    <img class="text-introduction-picture" id="introduction_img" src="../images/4.jpg" style="width:700px;height:400px;" />
                </p>



            </div>
            <div class="personal-review">
                <textarea id="text-area" rows="5" cols="100">
                </textarea>
                <select name="score">
				<option value = "5" selected = "selected">5</option>
				<option value = "4">4</option>
                <option value = "3">3</option>
                <option value = "2">2</option>
                <option value = "1">1</option>
			    </select>
                <div class="menu-buttons">
                    <button id="submit" class="button" style="display: inline-block">
                    <a  class = "nounderline">
                        <span >Submit</span>
                    </a>
                </button>
                </div>
            </div>


            <div id="reviews-container">
            </div>
        </div>
    </div>
    <br/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/product.js"></script>
</body>

</html>