<!DOCTYPE html>

<html>

<head>
    <title>change picture</title>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
</head>

<body>

    <div>
        <h>Beer Up</h><br/>
        <div class="body-content">
            <div class="menu-buttons">
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >RECOMMEND</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >REVIEW</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >REGISTER</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >LOGIN</span>
                    </a>
                </button>
                <button class="button" style="display: inline-block">
                    <a class = "nounderline" href="index.html">
                        <span >SEARCH</span>
                    </a>
                </button>
                <input id="search" type="text" name="search">
            </div>
            <br/>
            <div id="reviews-container">
            </div>
        </div>
    </div>
    <br/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/search.js"></script>
</body>

</html>